body {
  background-attachment: fixed;
  background-image: url("../assets/home/background-home-mobile.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (width > 768px) {
  body {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
}

@media screen and (width > 900px) {
  body {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
}

main {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  padding: 3rem;

  > div {
    display: flex;
    align-items: end;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;

    max-width: 900px;
    @media screen and (width < 900px) {
      flex-direction: column;
      align-items: center;
    }

    > div {
      max-width: min-content;
    }
  }
}

.explore {
  display: flex;
  align-items: center;
  aspect-ratio: 1;
  background-color: var(--neutral-900);
  border-radius: 100vw;
  color: var(--neutral-100);
  justify-content: center;
  padding: 2rem;
  position: relative;
  text-decoration: none;
}
.explore:after {
  content: "";
  aspect-ratio: 1;
  position: absolute;
  inset: 0;
  background-color: color-mix(in srgb, var(--neutral-900), transparent 95%);
  backdrop-filter: blur(85px);
  border-radius: 100vw;
  z-index: -1;
  transition: inset 100ms ease-in-out;
}
.explore:where(:hover, :focus-visible, :active):after {
  inset: -4rem;
}
